@import "tailwindcss";

@theme {
  --color-primary: #002FA4;
  --color-primary-light: #4063BB;
  --color-accent: #F44E00;
  --color-background: #FFFFFF;
  --color-foreground: #000000;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #FFFFFF;
  --foreground: #000000;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}